# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
frontend/node_modules/
frontend/.npm/
frontend/.yarn/
frontend/.pnp/
frontend/.pnp.js/
backend/packages/
backend/project.lock.json
backend/Thumbs.db
backend/DotNetCliToolsResolverCache

# testing
frontend/coverage

# production
frontend/build/
frontend/publish/
frontend/dist/

# misc
frontend/.eslintcache
frontend/.turbo/
frontend/.next/
frontend/.DS_Store
frontend/yarn-error.log*
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.production.local
frontend/.env.test.local

# Visual Studio Code
.vscode/
*.suo
*.user
*.userosscache
*.sln.docstates

# .NET
backend/bin/
backend/obj/
backend/*.user
backend/*.lock.json
backend/*.db

# Logs and temp archives
backend/log/
backend/logs/
backend/*.log
backend/appsettings.*.json

# Temp
/temp

# User-specific files
*.swp
*~
.project
.idea/
*.ntvs*
*.njsproj
*.sln
