
.register-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60%; 
  max-width: 800px; 
  box-sizing: border-box; 
  padding: 20px;
}


.register-container input,
.register-container button {
  width: 100%; 
  margin: 10px 0; 
  padding: 15px; 
  font-size: 16px; 
  border-radius: 4px; 
  border: 1px solid #ccc; 
  box-sizing: border-box; 
}

.register-container button {
  background-color: #808080; 
  color: white;
  cursor: pointer;
  border: none; 
  transition: background-color 0.3s ease;
}

.register-container button:hover {
  background-color: #696969; 
}

.register-container h2 {
  font-size: 24px;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.register-container .link {
  margin-top: 10px;
  font-size: 14px;
  color: #007bff;
  cursor: pointer;
  text-align: center;
  transition: color 0.3s ease;
}

.register-container .link:hover {
  color: #0056b3;
}
